@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg-index.jpg");
  background-position: center 40px;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url("../img/noice_bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

/*ВРЕМЕННО*/
.disable {
  display: none;
}

img {
  vertical-align: bottom;
}

/*ШАПКА САЙТА. НАВИГАЦИЯ*/

.site-main__wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation--user-navigation {
  width: 140px;
  justify-content: flex-end;
}

.inner-page .navigation--user-navigation {
  margin-left: auto;
}



.navigation__lnk {
  display: block;
  position: relative;
  padding: 26px 20px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
}

.navigation__lnk:hover,
.navigation__lnk:focus,
.navigation__lnk:active {
  outline: none;
  background-color: #242424;
}

.navigation__lnk--enter {
  padding: 25px 20px 25px 45px;
}

.navigation__lnk--enter::before {
  content: '';
  position: absolute;
  display: block;
  left: 8px;
  width: 25px;
  height: 25px;
  background-image: url("../img/exit.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.navigation__lnk--enter:hover::before {
  opacity: 1;
}


.navigation__item--current > .navigation__lnk::after {
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  width: 70%;
  left: 20px;
  bottom: 0;
  background-color: #ffffff;
}

.site-header {
  color: #ffffff;
}

.inner-page .site-header {
  margin-bottom: 50px;
  background-color: #000000;
}

.site-header__site-logo {
  order: 2;
}

.inner-page .site-header__site-logo {
  padding: 20px;
  order: 0;
}

.site-header__wrapper {
  width: 100%;
  margin-bottom: 65px;
  background-color: #000000;
}

.site-header__wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 67px;
}

.inner-page .site-nav {
  align-items: flex-start;
  flex-direction: row;
}

/*ОСНОВНОЙ КОНТЕНТ. ПРЕИМУЩЕСТВА*/

.features {
  margin-bottom: 80px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  width: 300px;
  padding: 0 5px;
  box-sizing: border-box;
  text-align: center;
}

.features__item:nth-child(2) {
  padding: 0 15px;
}

.features__item::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 140px;
  top: 55px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.features__title {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.features p {
  margin: 0;
  padding: 0;
}



/*ОСНОВНОЙ КОНТЕНТ. ХЛЕБНЫЕ КРОШКИ*/

.breadcrumbs {
  margin-bottom: 45px;
}

.breadcrumbs__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
}

.breadcrumbs__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '';
  position: absolute;
  display: block;
  right: -25px;
  top: 7px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs__item--current {
  color: #aba9a7;
}

.breadcrumbs a {
  line-height: 20px;
  color: inherit;
}

/*ОСНОВНОЙ КОНТЕНТ. ФИЛЬТР*/

.filter {
  width: 220px;
  font-size: 14px;
  line-height: 18px;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  border: none;
}

.filter__fieldset--category {
  padding-bottom: 32px;
}

.filter__legend {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
}

.filter__legend--category {
  margin-bottom: 28px;
}

.filter__list {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  list-style: none;
}

.filter__label {
  position: relative;
  display: block;
  margin-bottom: 19px;
}

.filter__label:hover,
.filter__label:focus {
  outline: none;
  color: #663d15;
}

.filter__label::before {
    content: "";
    position: absolute;
    display: block;
    left: -45px;
    top: -1px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.filter__label--checkbox::before {
    background-image: url(../img/checkbox.png);
}

.filter__input--checkbox:checked + .filter__label--checkbox::before {
    background-image: url(../img/checkbox-select.png);
}

.filter__label--radio::before {
    background-image: url(../img/radio-off.png);
}

.filter__input--radio:checked + .filter__label--radio::before {
    background-image: url(../img/radio-on.png);
}

.filter__btn {
  font: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.catalog {
  width: 700px;
  outline: 2px solid gold;
}

.catalog__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner-page .catalog {
  margin-top: 10px;
}

/*ОСНОВНОЙ КОНТЕНТ. НОВОСТИ*/

.contacts__title,
.appointment__title,
.news__title,
.gallery__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.appointment__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appointment__input {
  width: 140px;
  padding: 7px 7px 7px 15px;
  margin-top: 9px;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  border: 2px solid #000000;
}

.appointment__input:focus {
  outline: none;
  border: 2px solid #663d15;
}

.appointment__label {
  padding-left: 16px;
}

.appointment__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.appointment-info {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.appointment__btn {
  margin-top: 12px;
  margin-left: 88px;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.appointment {
  width: 300px;
  min-height: 340px;
}

.news {
  position: relative;
  width: 380px;
  min-height: 323px;
}

.news::after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 278px;
  top:0;
  right: -10px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  margin-bottom: 20px;
}

.news__btn {
  margin-top: 10px;
}

.news__descr {
  margin: 0;
  padding: 0;
}

.news__item time {
  text-transform: none;
}

.gallery {
  width: 300px;
}


.gallery-content {
  margin: 0;
  padding: 0;
  border: 7px solid #ffffff;
}

.gallery__button {
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 22px;
}

.contacts {
  position: relative;
  width: 330px;
}

.contacts::after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 278px;
  top:15px;
  right: -60px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.contacts__btn {
  margin-top: 3px;
  margin-right: 18px;
}

.contacts__descr {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

/*ОСНОВНОЙ КОНТЕНТ. ТОВАР*/

.catalog__goods {
  margin-bottom: 20px;
}
.goods {
  display: flex;
flex-direction: column;
align-items: center;
width: 220px;
  padding-bottom: 20px;
  min-height: 286px;
  line-height: 18px;
  box-sizing: border-box;
  outline: 2px solid gold;
}

.goods__title {
  margin: 0;
  padding: 0;
  padding: 7px 15px;
}

.goods__title span {
  display: block;
  text-transform: none;
}

.goods__lnk {
  font: inherit;
  color: inherit;
}

.goods__btn {
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  background-color: transparent;
}

.goods__order {
  margin-top: auto;
}

.order {
  display: flex;
  width: 185px;
  outline: 2px solid orange;
}


.pagination {
  width: 195px;
  min-height: 65px; /*временно для сетки*/
  margin-right: auto;
}

.pagination__list {
  display: flex;
  margin: 0;

  padding: 0;
  list-style: none;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.product__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  outline: 2px solid orange;
}

.product__main-img {
  margin-bottom: 20px;
}

.product__status,
.product__article {
  margin: 0;
  padding: 0;
}

.product__descr {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 55px;
}

.product__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 65px;
}

.product__container {
  width: 400px;
  outline: 2px solid orange;
}

.product__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
}

.product__structure {
  padding-left: 10px;
  padding-right: 10px;
}

.product__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
}




/*ПОДВАЛ САЙТА*/

.site-footer {
  position: relative;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 38px;
  background-color: #222222;
  background-image: url("../img/footer_bg.jpg");
  background-position: top center;
  background-repeat: repeat;
}

.site-footer::before {
  content: '';
  position: absolute;
  display: block;
  height: 41px;
  width: 100%;
  top: 0;
  background-image: url("../img/footer_shadow.png");
  background-repeat: repeat;
}

.inner-page .site-footer {
  margin-top: 50px;
}

.site-footer .container {
  display: flex;

}

.site-footer__contacts {
  margin: 0;
  padding: 0;
  width: 310px;
}

.site-footer__social {
  margin-left: 90px;
}

.site-footer__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
}

.site-footer__copyright {
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 145px;
  text-align: center;
}

.site-footer__lnk {
  color: inherit;
  text-decoration: underline;
}

.site-footer__btn {
  margin-top: 13px;
}

.social {
  width: 140px;
  text-align: center;
}


/*МОДАЛЬНОЕ ОКНО*/

.modal {
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/noice_bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
}

.modal__lnk--restore {
  color: inherit;
  text-decoration: underline;
}

.modal__btn,
.modal__toggle {
  border: none;
  font: inherit;
  background-color: transparent;
  text-transform: uppercase;
}





/*ВСПОМОГАТЕЛЬНЫЙ БЛОК*/

.container {
  width: 940px;
  margin: 0 auto;
}

.content-wrapper {
  color: #000000;
}

.content-wrapper:first-of-type {
  margin-bottom: 35px;
}

.content-wrapper .container {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;

  background-color: #f8f5f2;
  background-image: url("../img/noice_bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.button-original {
  display: inline-block;
  padding: 9px 30px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.button-original:hover,
.button-original:focus,
.button-original:active {
  outline: none;
  background-color: #663d15;
}

.button-original--lg {
  padding: 13px 28px;
}

.btn-social {
  display: block;
  font-size: 0;
  width: 42px;
  height: 42px;
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-social:hover {
  background-color: #ffffff;
}

.btn-social--vk {
  background-image: url(../img/vk.svg);
}

.btn-social--vk:hover {
  background-image: url(../img/vk-hover.svg);
}

.btn-social--fb {
  background-image: url(../img/facebook.svg);
}

.btn-social--fb:hover {
  background-image: url(../img/facebook-hover.svg);
}

.btn-social--instagram{
  background-image: url(../img/instagram.svg);
}

.btn-social--instagram:hover {
  background-image: url(../img/instagram-hover.svg);
}
