@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url("../img/noice_bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

/*ВРЕМЕННО*/
.disable {
  display: none;
}

/*ШАПКА САЙТА. НАВИГАЦИЯ*/

.navigation {
  display: flex;
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid orange;
}

.navigation--user-navigation {
  width: 140px;
  justify-content: flex-end;
}

.navigation__lnk {
  display: block;
  padding: 25px 20px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  outline: 2px solid green;
}

.site-header {
  color: #ffffff;
}

.site-header__site-logo {
  order: 2;
  outline: 2px solid gold;
}

.site-header__wrapper {
  width: 100%;
  margin-bottom: 65px;
  background-color: #000000;
}

.site-header__wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

/*ОСНОВНОЙ КОНТЕНТ. ПРЕИМУЩЕСТВА*/

.features {
  margin-bottom: 80px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  width: 300px;
  padding: 0 5px;
  box-sizing: border-box;
  text-align: center;
  outline: 2px solid orange;
}

.features__title {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.features p {
  margin: 0;
  padding: 0;
}



/*ОСНОВНОЙ КОНТЕНТ. ХЛЕБНЫЕ КРОШКИ*/

.breadcrumbs__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  font-weight: 20px;
  color: inherit;
}

/*ОСНОВНОЙ КОНТЕНТ. ФИЛЬТР*/

.filter {
  font-size: 14px;
  line-height: 18px;
}

.filter__fieldset {
  border: none;
}

.filter__legend {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__btn {
  font: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

/*ОСНОВНОЙ КОНТЕНТ. НОВОСТИ*/

.contacts__title,
.appointment__title,
.news__title,
.gallery__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.appointment__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appointment__input {
  width: 140px;
  padding: 7px;
  margin-top: 9px;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  border: 2px solid #000000;
}

.appointment__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.appointment-info {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.appointment__btn {
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.appointment {
  width: 300px;
  min-height: 340px;
  outline: 2px solid gold;
}

.news {
  width: 380px;
  min-height: 320px;
  outline: 2px solid gold;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  margin-bottom: 20px;
}

.news__descr {
  margin: 0;
  padding: 0;
}

.news__item time {
  text-transform: none;
}

.gallery {
  width: 300px;
  outline: 2px solid gold;
}


.gallery-content {
  margin: 0;
  padding: 0;
}
.gallery__button {
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.contacts {
  width: 330px;
  outline: 2px solid gold;
}

.contacts__descr {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

/*ОСНОВНОЙ КОНТЕНТ. ТОВАР*/
.goods {
  line-height: 18px;
}

.goods__lnk {
  font: inherit;
  color: inherit;
}

.goods__btn {
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  background-color: transparent;
}




/*ПОДВАЛ САЙТА*/

.site-footer {
  background-color: #222222;
  background-image: url("../img/footer_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.site-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__lnk {
  color: inherit;
  text-decoration: underline;
}

/*МОДАЛЬНОЕ ОКНО*/

.modal {
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/noice_bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
}

.modal__lnk--restore {
  color: inherit;
  text-decoration: underline;
}

.modal__btn,
.modal__toggle {
  border: none;
  font: inherit;
  background-color: transparent;
  text-transform: uppercase;
}





/*ВСПОМОГАТЕЛЬНЫЙ БЛОК*/

.container {
  width: 940px;
  margin: 0 auto;
}

.content-wrapper {
  color: #000000;
}

.content-wrapper:first-of-type {
  margin-bottom: 37px;
}

.content-wrapper .container {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 52px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;

  background-color: #f8f5f2;
  background-image: url("../img/noice_bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.button-original {
  color: inherit; /*ВРЕМЕННО*/
}
